body{
    width: 100vw;
    height: 100vh;
}

header{
    display: flex;
    align-items: center;
    height: 10%;
    width: 100%;

    background: #C4C4C4;
}

.titulo{
    margin-left: 30px;
    font-family: sans-serif, Times, serif, 'Arial Narrow', Arial, sans-serif, Courier, monospace, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

main{
    display: flex;
    flex-direction: column;
    height: 90%;
}

.historico{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 10px;

    width: 90%;
}

.mensagem-enviada{
    align-self: center;
    display: flex;
    flex-direction: column;
    padding: 6px;

    width: 100%;
}

.mensagem{
    padding: 6px;
}

.botoes{
    align-self: flex-end;
}

.editar{
    background-color: orange;
    border: orange;
    cursor: pointer;
}

.apagar{
    background-color: red;
    border: red;
    cursor: pointer;
}

.mensagem{
    border: 1px solid #000000;
}

.nova-mensagem{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    gap: 5px;
    padding: 5px 5px;

    height: auto;
    min-width: 40%;

    background: #C4C4C4;
    border: 1px solid #000000;
    border-bottom: none;
}

#caixa-mensagem{
    width: 100%;
}

.botao-enviar{
    height: 25px;
    color: white;
    background-color: blue;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
